<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TPD_C.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TPD_C.Properties.Settings>
      <setting name="gRutaReportesProduccion" serializeAs="String">
        <value>servidordell</value>
      </setting>
      <setting name="gPasswordProduccion" serializeAs="String">
        <value>@dministrator1</value>
      </setting>
      <setting name="gUserID" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="gServerNameProduccion" serializeAs="String">
        <value>servidordell</value>
      </setting>
      <setting name="gDatabaseNameSAPProduccion" serializeAs="String">
        <value>SBO_TPD</value>
      </setting>
      <setting name="gDatabaseNameTMPProduccion" serializeAs="String">
        <value>TPM</value>
      </setting>
      <setting name="gDatabaseNameZPRUE2018" serializeAs="String">
        <value>ZPRUEBAS31OCT18</value>
      </setting>
      <setting name="gDatabaseNameSBO_Diamante" serializeAs="String">
        <value>SBO-Diamante-productiva</value>
      </setting>
      <setting name="gDatabaseNameZPRUE2019" serializeAs="String">
        <value>ZPRUEBAS16ABR2019</value>
      </setting>
      <setting name="gDatabaseNameTPM20FEB19" serializeAs="String">
        <value>TPM09FEB2019</value>
      </setting>
      <setting name="gRutaReportesPruebas" serializeAs="String">
        <value>servidordell</value>
      </setting>
      <setting name="gServerNamePruebas" serializeAs="String">
        <value>servidordell</value>
      </setting>
      <setting name="gDatabaseNameSAPPruebas" serializeAs="String">
        <value>SBO_TPD</value>
      </setting>
      <setting name="gPasswordPruebas" serializeAs="String">
        <value>@dministrator1</value>
      </setting>
      <setting name="gDatabaseNameTMPPruebas" serializeAs="String">
        <value>TPM</value>
      </setting>
      <setting name="AMBIENTE_PRODUCCION" serializeAs="String">
        <value>True</value>
      </setting>
    </TPD_C.Properties.Settings>
  </applicationSettings>
</configuration>